{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block body %}
{% load static %}
<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto flex flex-col md:flex-row items-center justify-center">
        <!-- Left Section - About Me with Shadow -->
        <div class="lg:w-1/2 lg:h-auto h-64 flex flex-col items-center sm:items-start justify-center text-center sm:text-left mb-10 md:mb-0 bg-white p-8 rounded-lg shadow-md md:mr-4 relative overflow-hidden">
            <div class="flex flex-col items-center">
                <h1 class="text-2xl font-medium title-font mb-4 text-gray-900 tracking-widest justify-center text-center">About Me</h1>
                <p class="lg:w-2/3 mx-auto leading-relaxed text-base">
                    Hi, I'm Samiullah, the developer behind the ECO-SELECT e-commerce project. ECO-SELECT is a platform that focuses on providing a curated selection of eco-friendly products. As a Backend Developer, I strive to create a seamless and sustainable online shopping experience. Explore our eco-conscious products and join us in making a positive impact on the environment.
                </p>
            </div>
            <span class="inline-flex mt-4 mx-auto flex flex-row items-center absolute bottom-0">
                <a href="https://github.com/your-github-username" class="text-gray-500 mb-2 mx-2" target="_blank" rel="noopener noreferrer">
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                        <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                    </svg>
                    GitHub
                </a>
                <a href="https://facebook.com/your-facebook-username" class="text-gray-500 mb-2 mx-2" target="_blank" rel="noopener noreferrer">
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                        <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
                    </svg>
                    Facebook
                </a>
                <a href="http://www.linkedin.com/in/sami-ullah-6326b9265" class="text-blue-500 mx-2" target="_blank" rel="noopener noreferrer">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w-5 h-5">
                        <path d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
                        <circle cx="4" cy="4" r="2" fill="none"></circle>
                    </svg>
                    LinkedIn
                </a>
            </span>
        </div>

        <!-- Right Section - Image with Shadow Effect -->
        <div class="lg:w-1/2 lg:h-auto h-64 lg:ml-0 ml-0 flex items-center justify-center bg-white p-8 rounded-lg shadow-md mt-4 md:mt-0">
            <a href="{% static 'products/images/sa.jpg'%}" target="_blank" rel="noopener noreferrer">
                <img alt="Samiullah" class="flex-shrink-0 rounded-lg w-full h-full object-cover object-center hover:shadow-xl transition-shadow duration-300" src="{% static 'products/images/sa.jpg'%}">
            </a>
        </div>
    </div>
</section>
{% endblock %}
