.contact-info {
    padding: 50px;
    background-color: white;
    box-shadow:  0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: max-content;
    margin-bottom:10px;
    height: 400px;
  }
  .contact-info p {
    margin-bottom: 10px;
  }
  
  .contact-info a {
    color: #333;
    text-decoration: none;
  }
  
  .contact-form {
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    height: 400px;
  }
  
  .contact-form h2 {
    margin-bottom: 20px;
  }
  
  .contact-form .form-group {
    margin-bottom: 10px;
  }
  
  .contact-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }
  
  .contact-form textarea {
    height: 100px;
  }
  
  .contact-form button {
    float: right;
    margin-top: 10px;
    padding: 5px 10px;
    border: 1px solid #333;
    background-color: #333333;
    color: #fff;
  }
  /* Media qury for responsiveness */
  @media (max-width: 767px) {
    .contact-info,
    .contact-form {
      padding: 10px;
    }
  
    .contact-form .form-group {
      margin-bottom: 5px;
    }
  }
  